/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0;
  background-color:rgb(var(--bs-body-bg));
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 30.5rem;
}
