/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /*padding-top: 3rem; */
  /*padding-bottom: 3rem; */
  color: rgb(var(--bs-tertiary-color-rgb));
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -0.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 40px;
  }
}

/* @media (min-width: 62em) {
  .featurette-heading {
    margin-top: 5rem;                                                            /* reprendre çaaaaaaa
  }
} */

.demo-question-title {
  font-size: 35px;
}

.desc {
  padding: auto 50px;
}

.feature-code {
  border-radius: 20px;
  /* background-color: #292c35; */
  margin-bottom: 0px;
}

.push-tl {
  margin-top: 1rem;
  margin-bottom: 0px;
  border-radius: 15px;
}

.col-md-5 {
  margin-top: 2rem;
}

/* Copy Buttons */

.copy {
  bottom: 10px;
}

button:active {
  background: #006f59;
}

button:disabled {
  background: #f1f1f1;
  color: #292c35;
  cursor: not-allowed;
}

.code {
  padding: 30px;
}

/* Copy (push to timeline) button */

.copy-tl {
  position: absolute;
  right: 10px;
  background-color: #212529;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  bottom: 7px;
  padding: 5px 12px;
} 

/* Show or hide button */

.showOrHide {
  position: absolute;
  background-color: #292c35;
  color: #ffffff;
  border-radius: 12px;
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
} 



