/* Buttons */

button {
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
}

.help-button {
  right: 25px;
  background-color: grey;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
}

.help-button:active {
  background-color: grey;
}

#copy-mail {
  /* border-radius: 15px; */
  bottom: 8px;
  right: 8px;
  background-color: rebeccapurple;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
}

p {
  color: white;
}

.answer {
  display: none;
  background-color: grey;
  width: 90%;
  float: right;
  border-radius: 0 0 .5rem 0;
}
